name: Create TXT when README modified

on:
  push:
    branches:
      - 'feature/**'
    paths:
      - 'README.md'

jobs:
  create-file:
    if: github.actor != 'github-actions[bot]'
    runs-on: ubuntu-latest
    permissions:
      contents: write

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
          ref: ${{ github.ref }}

      - name: Check if README changed
        id: check
        run: |
          if git diff --quiet HEAD~1 HEAD -- README.md; then
            echo "changed=false" >> $GITHUB_OUTPUT
          else
            echo "changed=true" >> $GITHUB_OUTPUT
          fi

      - name: Create sample.txt
        echo "changed value? $changed"
        if: steps.check.outputs.changed == 'true'
        run: echo "Hello Raghava" > sample.txt

      - name: Commit and push file safely
        if: steps.check.outputs.changed == 'true'
        run: |
          git config user.name "github-actions[bot]"
          git config user.email "github-actions@users.noreply.github.com"

          git add sample.txt

          if git diff --cached --quiet; then
            echo "No changes to commit"
          else
            git commit -m "Auto-create sample.txt [skip ci]"
            git push
          fi
